




<link rel="stylesheet" href="/css/header.css">
  <!-- HEADER PART FOR HOME PAGE -->
<header>
    <div id="header-container">
        <div id="page-name">
            <h3>Welcome to <%=title%></h3>
        </div> 
        <div id="sign-container">
               <div class="pageLinks" id="SignIn">
                <a href="/user/login">SignIn</a>
               </div> 
               <div class="pageLinks" id="SignUp">
                <a href="/user/signup">SignUp</a>
               </div> 
        </div>
    </div>
</header>
<script src="/js/header.js"></script>