
<link rel="stylesheet" href="/css/signin.css">
<div id="outer-container">
    <h2>Login Page</h2>
    <div id="inner-container">
                    
            <form id="signinForm" action="/doctor/login" method="post">
                <p>User name :</p>
                <input type="text" name="username" placeholder="Enter User Name" required="true">
                <p>Password :</p>
                <input type="text" name="password" placeholder="Enter password" required="true">
                <p>
                    <button type="submit" id="btns">Sign In</button>
                </p>
                
            </form>

    </div>
</div>

<script src="/js/signin.js"></script>